<div class="center">
    <label>Name &nbsp;&nbsp;&nbsp;</label>
    <mat-form-field appearance="fill" >
        <mat-label>Input</mat-label>
        <input matInput class="inputName">
      </mat-form-field>

      <label>Name &nbsp;&nbsp;&nbsp;</label>
      <mat-form-field appearance="fill" >
          <mat-label>Input</mat-label>
          <input matInput class="inputName">
        </mat-form-field>

        <label>Name &nbsp;&nbsp;&nbsp;</label>
    <mat-form-field appearance="fill" >
        <mat-label>Input</mat-label>
        <input matInput class="inputName">
      </mat-form-field>

      <label>Name &nbsp;&nbsp;&nbsp;</label>
    <mat-form-field appearance="fill" >
        <mat-label>Input</mat-label>
        <input matInput class="inputName">
      </mat-form-field>


</div>