<div class="container">
  <div class="header">
    ODDS Booking 🧷
  </div>
  <div class="form-container">
    <form [formGroup]="bookingForm">
      <label class="input-label">Username :</label>
      <input type="text" class="input input-text" formControlName="name" />

      <label class="input-label">Email :</label>
      <input type="text" class="input input-text" formControlName="email" />

      <label class="input-label">Phone :</label>
      <input type="text" class="input input-text" formControlName="phoneNumber" />

      <label class="input-label">Room :</label>
      <select class="input input-selector" formControlName="room">
        <option *ngFor="let room of rooms" [value]="room">
          {{ room }}
        </option>
      </select>

      <label class="input-label">Reason :</label>
      <textarea type="text" class="input input-text-area" formControlName="reason"></textarea>

      <label class="input-label">Start Date :</label>
      <input class="input input-datetime" type="datetime-local" name="startDate" formControlName="startDate" />

      <label class="input-label">End Date :</label>
      <input class="input input-datetime" type="datetime-local" name="endDate" formControlName="endDate" />

      <button class="button-submit" (click)="buttonSubmit()">Done</button>
    </form>
  </div>
</div>