<div class="container">
    <div class="container-card">
        <div class="form-container">
            <mat-card>
                <div class="header-title">
                    <img src="/assets/images/odds_logo.png" height="20px" />
                    &nbsp;Booking
                </div>
                <hr />

                <form [formGroup]="bookingForm">
                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="fullName" />
                        <mat-icon matSuffix>face</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber" maxlength="10" />

                        <mat-icon matSuffix>phone_iphone</mat-icon>
                        <mat-error *ngIf="phoneNumber.errors?.required">
                            phoneNumber is required.
                        </mat-error>
                        <mat-error *ngIf="phoneNumber.errors?.pattern">
                            Your phoneNumber must start with 0 and [9, 8, 6 or 2]
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Room</mat-label>
                        <mat-icon matSuffix>room</mat-icon>
                        <mat-select formControlName="room">
                            <mat-option *ngFor="let room of rooms" [value]="room">
                                {{ room }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width form-field-reason" appearance="outline">
                        <mat-label>Reason</mat-label>
                        <textarea
                            matInput
                            formControlName="reason"
                            cdkAutosizeMinRows="2"
                        ></textarea>
                        <mat-icon matSuffix>textsms</mat-icon>
                    </mat-form-field>

                    <div class="row-datetimepicker">
                        <nz-form-item class="date-box">
                            <nz-date-picker
                                formControlName="startDate"
                                nzPlaceHolder=" "
                                [nzDisabledDate]="disabledDateOnStart"
                                [nzShowToday]="false"
                                nzFormat="yyyy/MM/dd"
                                [nzDefaultPickerValue]="minDate"
                                [nzInputReadOnly]="true"
                                class="full-width date-picker"
                            ></nz-date-picker>
                            <p class="date-picker-title">From</p>
                        </nz-form-item>

                        <nz-form-item class="time-box"
                            ><nz-time-picker
                                id="startTime"
                                formControlName="startTime"
                                nzPlaceHolder=" "
                                nzHideDisabledOptions="true"
                                [nzDisabledHours]="disabledHoursOnStart"
                                [nzDisabledMinutes]="disabledMinutesOnStart"
                                nzFormat="HH:mm"
                                class="full-width date-picker"
                            ></nz-time-picker>
                            <p class="date-picker-title">From Time</p>
                        </nz-form-item>
                    </div>

                    <div class="row-datetimepicker">
                        <nz-form-item class="date-box">
                            <nz-date-picker
                                formControlName="endDate"
                                nzPlaceHolder=" "
                                [nzDisabledDate]="disabledDateOnEnd"
                                [nzShowToday]="false"
                                nzFormat="yyyy/MM/dd"
                                [nzDefaultPickerValue]="minDate"
                                [nzInputReadOnly]="true"
                                class="full-width date-picker"
                            ></nz-date-picker>
                            <p class="date-picker-title">To</p>
                        </nz-form-item>

                        <nz-form-item class="time-box"
                            ><nz-time-picker
                                id="endTime"
                                formControlName="endTime"
                                nzPlaceHolder=" "
                                nzHideDisabledOptions="true"
                                [nzDisabledHours]="disabledHoursOnEnd"
                                [nzDisabledMinutes]="disabledMinutesOnEnd"
                                nzFormat="HH:mm"
                                class="full-width date-picker"
                            ></nz-time-picker>
                            <p class="date-picker-title">To Time</p>
                        </nz-form-item>
                    </div>

                    <button
                        mat-raised-button
                        (click)="onSubmit()"
                        class="button button-color"
                        [disabled]="bookingForm.invalid"
                    >
                        PREVIEW
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
