/* .center-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.center {
  margin: auto;
  width: fit-content;
  padding-top: 150px;
}
.inputName {
  height: 30px;
  width: 300px;
}

.pl-4 {
  padding-left: 20px;
}

.pt-3 {
    padding-top: 35px;
} */

.card {
  max-width: 400px;
}

.container-card{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80%;
}
.header-title{
  padding: 20px;
}
.container{
  width: 100vw;
  height: auto;
  background-color: rgb(170, 228, 255);
}

.header{
  background-color: rgb(170, 228, 255);
  text-align: center;
  font-size : 40pt;
  height:fit-content;
  padding: 3%;
  margin-bottom: 10px;
  color: aliceblue;
  text-shadow: 3px 3px #000000;
  box-shadow: 2px 2px 3px 3px #8888888c;
}

.form-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aquamarine; */
  padding: 20px;
}

.input{
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: #c5c5c5 2px solid;
  border-radius: 10px;
  /* background-color: chartreuse; */
}

.input-text{
  display: block;
  /* background-color: coral; */
  height: 30px;
}

.input-label{
  display: block;
  /* background-color: aqua; */

}

.input-text-area {
  display: block;
  /* background-color: brown; */
  height: 80px;
}

.input-selector{
  display: block;
  height: 50px;
}

.input-datetime{
  display: block;
  height: 30px;
}

.button-submit{
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(170, 228, 255);
  border: none;
}

.button-submit:hover{
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-shadow: 2px 2px 3px 3px #8888888c;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.button-row .mat-button-base {
  margin: 16px 16px 16px 0;
}
.button-row {
  display: table-cell;
  width: 100%;
}
.icon-color{
  color: #FFC0CB;
}

.icon-color:hover{
  color: #920018;
}

.button-color:hover{
  /* background-color: #f38ca4; */
  background-color: #f9a061;
}

.button-color{
  background-color: #547ec4;
}
