* {
  --red-color: #f00b51;
  --purple-color: #7366ff;
  --black-color: #333;
  --green-light: #e6f9e4;
}

.card {
  max-width: 400px;
}

.container-card {
  /* ! add bg images */
  background: url("/assets/images/pattern.png") center center / cover no-repeat
    fixed transparent;
  /* ! add overflow scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 754px) {
  .container-card {
    align-items: flex-start;
  }
}

.header-title {
  padding: 12px 0;
  /* ! center-fontsize-weight title */
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  contain: flex;
}

.container {
  width: 100vw;
  height: 100vh;
  /* ! add gradient bg */
  background: linear-gradient(
    45deg,
    var(--red-color) 0%,
    var(--purple-color) 100%
  );
}

.form-container {
  /* ! responsive container */
  width: min(90%, 450px);
  /* ! add padding*/
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aquamarine; */
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: #c5c5c5 2px solid;
  border-radius: 10px;
}

.input-text {
  display: block;
  height: 30px;
}

.input-label {
  display: block;
}

.input-text-area {
  display: block;
  height: 80px;
}

.input-selector {
  display: block;
  height: 50px;
}

.input-datetime {
  display: block;
  height: 30px;
}

.button-submit {
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(170, 228, 255);
  border: none;
}

.button-submit:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-shadow: 2px 2px 3px 3px #8888888c;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-row .mat-button-base {
  margin: 16px 16px 16px 0;
}

.button-row {
  display: table-cell;
  width: 100%;
}

.icon-color {
  color: #ffc0cb;
}

.icon-color:hover {
  color: #920018;
}

.button-color:hover:not([disabled]) {
  background-color: var(--green-light);
  color: #000000;
}

.button-color {
  background-color: var(--purple-color);
}

.button-color:focus {
  background-color: var(--black-color);
}

/* ! Icon calen size */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
}

/* ! Icon reason at top */
/* ::ng-deep div.form-field-reason .form-field-reason{
  align-items:flex-start !important;
} */

.baseline-to-center {
  align-items: center;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
}

.icon-style {
  width: 20px;
  height: 20px;
  margin: auto;
  color: var(--black-color);
  padding-right: 10.5px;
}

/* ! Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
