.button-color:hover:not([disabled]) {
    background-color: var(--light-green);
    color: var(--black-color);
}

.row-datetimepicker {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.date-box,
.time-box {
    position: relative;
}

.date-box {
    width: 55%;
}

.time-box {
    width: 45%;
}

@media only screen and (max-width: 400px) {
    .row-datetimepicker {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .date-box {
        width: 100%;
    }

    .time-box {
        width: 100%;
    }
}

.date-picker {
    position: relative;
    box-shadow: none;
    color: var(--gray-outline);
    border-radius: 5px;
    z-index: 0;
    height: 52px;
    transition: none;
    font-size: 20px;
}

.date-picker:hover {
    border-color: var(--black-color);
    border-width: 2px !important;
    padding: 4px 10px;
}

.date-picker.ant-picker-focused {
    border-width: 2px !important;
    padding: 4px 10px;
}

.date-picker-title {
    position: absolute;
    top: 16px;
    left: 10px;
    z-index: 99;
    pointer-events: none;
    transition: all 0.25s ease;
    color: var(--gray-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-picker-title::after {
    content: " *";
    color: var(--gray-color);
}

.date-picker.ant-picker-focused~.date-picker-title {
    font-size: 10px;
    padding: 0px 6px;
    transform: translate(-2px, -22px);
    background: var(--white-color);
    color: var(--dark-blue);
}

.date-picker.ant-picker-focused {
    border-width: 2px !important;
    border-color: var(--dark-blue);
}

.date-picker.ant-picker-focused~.date-picker-title::after {
    content: " *";
    color: var(--dark-red);
}

.date-picker.ng-valid~.date-picker-title {
    font-size: 10px;
    padding: 0px 6px;
    background: var(--white-color);
    transform: translate(-2px, -22px);
}

.date-picker.ng-invalid.ng-touched {
    border-color: var(--dark-red);
    border-width: 2px;
    padding: 4px 10px;
}

.date-picker.ng-invalid.ng-touched~.date-picker-title,
.date-picker.ng-invalid.ng-touched~.date-picker-title::after {
    color: var(--dark-red);
}

::ng-deep .ant-picker-suffix {
    color: var(--black-color) !important;
    margin-right: 5px;
}

::ng-deep .ant-picker {
    background: transparent;
}

::ng-deep .ant-picker-clear {
    margin-right: 5px;
}

.ant-picker-disabled.date-picker:hover {
    border-color: var(--gray-outline);
    border-width: 1px !important;
    padding: 4px 11px;
}


::ng-deep .ant-picker-now a {
    cursor: default !important;
    color: rgba(0, 0, 0, 0.0) !important;
}