<div class="container" *ngIf="bookingDetail">
    <div class="header">
      ODDS Booking Detail 🧷
    </div>
    <div class="form-container">
      <form >
        <label class="input-label">Username :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.name}}" disabled/>
  
        <label class="input-label">Email :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.email}}" disabled />
  
        <label class="input-label">Phone :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.phoneNumber}}" disabled  />
  
        <label class="input-label">Room :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.room}}" disabled  />
  
        <label class="input-label">Reason :</label>
        <textarea type="text" class="input input-text-area" value= "{{bookingDetail.reason}}" disabled></textarea>
  
        <label class="input-label">Start Date :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.startDate}}" disabled  />
  
        <label class="input-label">End Date :</label>
        <input type="text" class="input input-text" value= "{{bookingDetail.endDate}}" disabled  />
  
      </form>
    </div>
  </div>