<div class="container" *ngIf="bookingDetail">
  <div class="container-card">
  <div class="form-container">
    <mat-card >
      <mat-card-title class="header-title">ODDS Booking Detail</mat-card-title>
      <hr>
      
    <form >
      
      
      <mat-form-field class="full-width " appearance="outline" floatLabel="never" > 
        <mat-label>Name</mat-label>
        <input matInput value="{{bookingDetail.name}}" readonly="true" style="text-transform:capitalize">
        <mat-icon  matSuffix >face</mat-icon>
      </mat-form-field>

     
      <mat-form-field class="full-width" appearance="outline" floatLabel="never" > 
        <mat-label>Email</mat-label>
        <input matInput value="{{bookingDetail.email}}" readonly="true" >
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="outline" floatLabel="never" > 
        <mat-label>Phone Number</mat-label>
        <input  matInput value="{{bookingDetail.phoneNumber}}" readonly="true">
        <mat-icon matSuffix>phone_iphone</mat-icon>
      </mat-form-field>
      
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select Room</mat-label>
        <mat-icon matSuffix>room</mat-icon>
        <input matInput value="{{bookingDetail.room}}" readonly="true">
      </mat-form-field>

      <mat-form-field class="full-width"appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput value="{{bookingDetail.reason}}" readonly="true"></textarea>
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width"appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput value="{{bookingDetail.startDate}}" readonly="true">
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width"appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput value="{{bookingDetail.endDate}}" readonly="true">
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>
        
      
      
    </form>
  </mat-card>
  </div>
</div>
</div>