.flex {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

@media only screen and (max-width: 400px) {
    .flex {
        flex-direction: column;
    }
}

.button-return:hover,
.button-return:focus {
    background-color: #e0a800;
    color: #ffffff;
}

.button-confirm:hover:not([disabled]),
.button-confirm:focus {
    background-color: #218838;
    color: #ffffff;
}