.flex {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

@media only screen and (max-width: 400px) {
    .flex {
        flex-direction: column;
    }
}

.button-return:hover,
.button-return:focus {
    background-color: var(--yellow-color);
    color: var(--white-color);
}

.button-confirm:hover:not([disabled]),
.button-confirm:focus {
    background-color: var(--green-color);
    color: var(--white-color);
}