<div class="container" *ngIf="bookingDetail">
    <div class="container-card">
        <div class="form-container">
            <mat-card>
                <div class="header-title">
                    <img src="/assets/images/odds_logo.png" height="20px" />
                    &nbsp;Booking Details Preview
                </div>
                <hr />
                <form>
                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Name</mat-label>
                        <input matInput value="{{ bookingDetail.fullName }}" disabled />
                        <mat-icon matSuffix>face</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Email</mat-label>
                        <input matInput value="{{ bookingDetail.email }}" disabled />
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline" floatLabel="never">
                        <mat-label>Phone Number</mat-label>
                        <input matInput value="{{ bookingDetail.phoneNumber }}" disabled />
                        <mat-icon matSuffix>phone_iphone</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Room</mat-label>
                        <mat-icon matSuffix>room</mat-icon>
                        <input matInput value="{{ bookingDetail.room }}" disabled />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Reason</mat-label>
                        <textarea
                            matInput
                            value="{{ bookingDetail.reason }}"
                            disabled
                            cdkAutosizeMinRows="2"
                        ></textarea>
                        <mat-icon matSuffix>textsms</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>From</mat-label>
                        <input matInput value="{{ bookingDetail.startDate }}" disabled />
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>To</mat-label>
                        <input matInput value="{{ bookingDetail.endDate }}" disabled />
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>

                    <div class="flex">
                        <button
                            mat-raised-button
                            class="button button-return"
                            (click)="onReturn()"
                        >
                            RETURN
                        </button>

                        <button
                            mat-raised-button
                            class="button button-confirm"
                            (click)="onConfirm()"
                            [disabled]="isConfirm"
                        >
                            SUBMIT
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
