.flex {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

@media only screen and (max-width: 400px) {
    .flex {
        flex-direction: column;
    }
}

.button-return:hover,
.button-confirm:hover:not([disabled]) {
    background-color: var(--light-green);
    color: var(--black-color);
}