@media only screen and (max-height: 754px) {
    .container-card {
        align-items: center !important;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.check-icon {
    padding: 20px 0 6px 0;
    font-size: 100px;
    width: 100px;
    height: 100px;
    color: var(--green-color);
    margin: 0 auto;
}

.button-color:hover:not([disabled]),
.button-color:focus {
    background-color: var(--purple-hover);
    color: #ffffff;
}