<div class="container">
    <div class="container-card">
        <div class="form-container">
            <mat-card>

                <div class="flex-display">
                    <mat-icon class="check-icon">check_circle_outline</mat-icon>
                </div>

                <h1 class="header-title">
                    Thank You
                </h1>

                <button (click)="onReturn()" mat-raised-button color="primary" class="button-row button-color">
                    BOOKING AGAIN
                </button>

            </mat-card>
        </div>
    </div>
</div>