<div class="container">
    <div class="container-card">
        <div class="form-container">
            <mat-card>
                <div class="flex">
                    <mat-icon class="check-icon">check_circle_outline</mat-icon>
                    <h1 class="header-title">Thank you for your booking!</h1>
                </div>

                <button (click)="onReturn()" mat-raised-button class="button button-color">
                    BOOKING AGAIN
                </button>
            </mat-card>
        </div>
    </div>
</div>
